* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: linear-gradient(#fff, #eeeffc);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #13183f;
}

p {
  color: #83869a;
}

main {
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.logo {
  width: 20%;
}

.btn {
  padding: 1em;
  background-color: #13183f;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1em 1.5em;
}

.navbar-button:hover {
  background-color: #83869a;
}

.hero {
  margin: 0;
  flex-direction: column;
  padding: 0;
  padding-bottom: 19em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* .hero-image-div {
} */

.hero-img {
  position: absolute;
  width: 120%;
  top: 47%;
  left: -10%;
  content: url("./assets/image-hero-mobile.png");
}

.hero-text {
  width: 100%;
}

.hero-text > h1 {
  font-size: 2rem;
  color: #13183f;
}

.hero-text > p {
  font-size: 0.8rem;
  margin: 1em 0;
}

.hero-btn {
  background-image: linear-gradient(#f02aa6, #ff6f48);
  color: #fff;
  margin: 1em 0;
  padding: 1.2em 2em;
  font-size: 0.8rem;
}

.hero-btn:hover {
  background-image: linear-gradient(#fabbe3, #f3c9bd);
}

/* COURSES */
.courses {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3em;
  padding-top: 0;
  margin-bottom: 2em;
}

.courses-box {
  padding: 2.75em 2em 2em;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.courses-heading-box {
  background-image: linear-gradient(#f02aa6, #ff6f48);
}

.courses-heading-box > h2 {
  color: #fff;
}

.courses-box > img {
  position: absolute;
  top: -12%;
  left: 2em;
}

.courses-box > p {
  margin: 1.5em 0;
  font-size: 1rem;
  line-height: 1.5;
}

.courses-btn {
  font-size: 1rem;
  background-color: #fff;
  color: #f74780;
  padding: 0;
  font-weight: bold;
}

.courses-btn:hover {
  color: #fcabc5;
}

footer > nav {
  margin: 0;
  padding: 1em;
  background-color: #13183f;
}

.footer-btn {
  background-image: linear-gradient(#4851ff, #f02aa6);
}

.footer-btn:hover {
  background-image: linear-gradient(#b4b7fa, #fcbde5);
}

/* 376px and up */
@media (min-width: 375px) {
  .courses {
    margin-top: 4em;
  }
}
/* 425px and up */
@media (min-width: 425px) {
  .courses {
    margin-top: 8em;
  }
}
/* 768px and up */
@media (min-width: 768px) {
  * {
    font-size: 17px;
  }

  nav {
    /* margin: 1em 8em; */
    padding: 2em;
    margin: 0;
  }

  .logo {
    width: 12.5%;
  }

  .btn {
    font-size: 1rem;
  }

  .hero {
    margin: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 4em 0;
  }

  .hero-img {
    position: absolute;
    width: 100%;
    height: auto;
    top: -60%;
    left: 40%;
    content: url("assets/image-hero-tablet.png");
  }

  .hero-text {
    width: 45%;
  }

  .hero-text > h1 {
    font-size: 2.25rem;
  }

  .hero-text > p {
    font-size: 1.2rem;
    margin: 1.3em 0;
  }

  .hero-btn {
    font-size: 1rem;
    margin: 1.5em 0 2em;
  }

  .courses {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3em;
    grid-column-gap: 1em;
    padding: 2em 0;
    margin: 6em 0 4em;
  }

  footer > nav {
    padding: 2em;
    margin: 0;
  }
}
/* 1024 and above */
@media (min-width: 1024px) {
  * {
    font-size: 20px;
  }
  body {
    /* width: 1024px; */
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero {
    margin: 4em 0 4em;
    width: 100%;
  }
  .hero-img {
    content: url("./assets/image-hero-desktop.png");
    width: 900px;
    max-width: 900px;
    left: 500px;
    top: -320px;
    z-index: -1;
  }
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
  .courses-box > img {
    top: -7.5%;
  }

  footer > nav {
    width: 100%;
    margin: 0 auto;
    padding: 2em 3em;
  }
  nav {
    padding: 2em 3em;
    margin: 0;
  }
  .courses {
    margin-top: 4em;
  }
}
/* 1440px and more */
@media (min-width: 1440px) {
  * {
    font-size: 22px;
  }
}
